# DB (LOCAL)
spring.datasource.url=jdbc:mysql://localhost:3306/todo_app
spring.datasource.username=todo_user
spring.datasource.password=TodoPass!12345
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# JWT (LOCAL)
app.jwt.secret=THIS_IS_A_DEMO_SECRET_KEY_32_CHARS_MIN_123456
app.jwt.expiration-ms=86400000


# Optional
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.open-in-view=false
